@import url('../css/paleta_colores.css');

#contacto {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--tema--F);
    height: auto;
    padding: 40px;
    justify-content: center;
    align-items: center;
    color: var(--tema--A);
}

#descrip{
    width: 100%;
}

.form-contact{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-right: 0;
}

.form{
    width: 100%;
}

.input-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    margin-bottom: 10px;
}

.input-form label{
    margin-bottom: 10px;
}

.input-form input{
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--tema--D);
    color: var(--tema--A);
    border:0;
    padding: 10px;
}

.input-form textarea{
    width: 100%;
    background-color: var(--tema--D);
    color: var(--tema--A);
    border:0;
    padding: 10px;
}

#contact-descrip{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form button{
    background-color: var(--tema--D);
    color: var(--tema--A);
    border:0;
    padding: 10px;
    width: 100px;
    transition: 0.5s;
}

.input-form button:hover{
    background-color: var(--tema--C);
}

#contact-descrip img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}


#tabla{
    margin-top: 20px;
    text-align: left;
    background-color: var(--tema--D);
}


th,td{
    padding: 2vb;
    width: 300px;
}

#correos {
    margin-top: 20px;
}

.correo-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.datos-correo {
    flex: 1;
    padding: 20px;
    background-color: #ddd;
    margin-right: 20px;
    text-align: left;
}

.boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.boton button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.boton button:hover {
    background-color: #45a049; /* Cambia el color cuando el botón es hover */
}


@media screen and (max-width: 768px) {

    #contact-descrip img{
        border-radius: 100vw;
        width: 25vh;
        height: 25vh;
    }
    #contacto{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px
    }

    #contact-descrip{
        width: 80%;
        margin-bottom: 2vh;
    }

    .form-contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px
    }

    .input-form textarea,.input-form input,.input-form label{
        margin-bottom: 0.5vh;
        height: 4vh;
    }
    .input-form button{
        margin-top: 1vh;
        height: 50px;
        width: 25%;
    }
}